<%- include('./partials/header') %>
    <%- include('./memnav.ejs') %>
        <% data.forEach((data)=>{ %>
            <div class="img-contain">
                <div class="img-in">
                    <h1>
                        <%= data.title %>
                    </h1>
                    <h4>
                        <%= data.desc %>
                    </h4>
                    <h6>
                        <%= data.date.toLocaleDateString() %>
                    </h6>
                </div>
                <div class="img">
                    <img src="<%= data.imagepath %>" height="200" width="350" alt="">
                </div>
            </div>
            <% }) %>

                <%- include('./partials/footer') %>